# Database
DATABASE_URL=

# Authentication
AUTH_SECRET=
AUTH_URL=
AUTH_TRUST_HOST=

# Cookies
COOKIES_DOMAIN=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Sentry
SENTRY_ORG=

# AWS
AMAZON_REGION=
AMAZON_S3_BUCKET_NAME=
AMAZON_CLOUDFRONT_KEY_PAIR_ID=
AMAZON_CLOUDFRONT_PRIVATE_KEY_SECRET_NAME=
AMAZON_SES_FROM_EMAIL=

# Miscellaneous
IMAGES_ENABLED=
EMAILS_ENABLED=
CRON_SECRET=

# Public
NEXT_PUBLIC_IMAGES_ENABLED=
NEXT_PUBLIC_CLOUDFRONT_ASSETS_DOMAIN=
NEXT_PUBLIC_SENTRY_DSN=