# Database
DATABASE_URL=

# Authentication
AUTH_SECRET=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# AWS
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_CLOUDFRONT_KEY_PAIR_ID=
AWS_CLOUDFRONT_PRIVATE_KEY_NAME=
NEXT_PUBLIC_CLOUDFRONT_ASSETS_DOMAIN=
